body{
    background-color: rgb(228, 155, 233);
    color: #161717;
    height:auto;
    min-height:100vh;
}
/* Container styling */
.container {
    font-family: 'Robo"Playwrite US Modern", cursiveto';
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}

body::after {
    width: 300px;
    height: 300px;
    background: rgba(255,255,255,0.2); /* iets sterkere transparantie */
    bottom: -80px;
    right: -80px;
}
 .hover-box{
            position:relative;
            padding:20px;
            border-radius:10px;
            background:#1113;
            transition:0.3s;
            overflow:hidden;
            margin-top:20px;
        }
        .hover-box::after{
            content:"";
            position:absolute;
            inset:0;
            background:rgba(255,255,255,0.15);
            opacity:0;
            transition:0.3s;
        }
        .hover-box:hover::after{
            opacity:1;
        }

        /* alles kleine letters */
        body, h1, h2, h3, p, li, a, .title {
            text-transform: none !important;
        }
